@import "fonts/stratum2.css";
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Stratum2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  width: 100%;
  height: 100%;
}

:root {
  --panel: rgba(0, 0, 0, 0.8);
  --label: #333333;
  --pick: #26CD00;
  --ban: #FF0000;
  --decider: #FFDD00;
}



